.card {
  box-shadow:  rgba(183, 183, 183, 0.56) 2px 2px 4px;
}

.card:hover {
  border: 0.5px solid rgb(236, 122, 122);
}

.favButton {
  width: 100%;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-body {

}

.title {
  height: 2rem;
}
